*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    color: #181e2c;
}

body h1,body h2,body h3,body h4{
    font-family:"Calistoga",cursive;
}

body p{
    font-family:"Roboto",sans-serif;
}

li{
    list-style:none;
    display:inline-block;
}

a{
    text-decoration: none;
}



/* header section */
header{
    width:100%;
    background-color: #181e2c;
    color:#e5ebf8;
}

.heading-div{
    max-width:1300px;
    display:flex;
    margin:0 auto;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.heading-div h1{
    font-size:35px;
    letter-spacing:2px;
}

.nav-menu a{
color: #e5ebf8;;
padding:31px 30px;
font-size:20px;
transition: background-color 0.3s ease-in-out;
}

.nav-menu a:hover{
    background-color:#f53b57;
}

/* image-section */

.section-image{
    height:60vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../imgs/2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    color:#e5ebf8;
}

.section-image h2{
    font-size:50px;
    letter-spacing:2px;
    word-spacing: 5px;
}

.section-image p{
    letter-spacing:1px;
    font-size: 20px;
    word-spacing: 3px;
}

/* about-me section */
.about-me{
    text-align:center;
    margin:70px ;
}

.about-me img{
    border:4px solid #f53b57;
    cursor:pointer;
    filter:grayscale(100%);
    transition: all 0.3s linear;
}

.about-me img:hover{
    filter:none;
    border-radius:50%;
}

.about-me h2{
    margin-top:20px;
    font-size:40px;
    text-transform:uppercase;
}

.about-me h3{
    margin-top:40px;
    font-size:30px;
    color:#f53b57;
}

.about-me p{
    margin:30px auto;
    font-size:18px;
}