*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@font-face{
    font-family:Reef;
    src:url(../fonts/Reef.otf);         /*we don't have to use the web safe font if we use the rule.*/
}

body{
    font-family: "Reef",sans-serif;
    color: #1e272e;
    text-rendering: optimizeLegibility;       /* used for rendering text */
}
